body{
    background-color: rgb(61, 55, 95);
}
.btn{
    color: aliceblue;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    height: 90px;
    transition: all .8s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.582);
}
.key-area{
    width: 375px;
    display: grid;
    grid-template-columns: 100px 100px 100px 75px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 376px;
    margin: 0% auto;
    margin-top: 100px;
    border-top: 33px solid rgb(75, 72, 72);
    border-bottom: 23px solid rgb(75, 72, 72);
    border-left: 3px solid rgb(75, 72, 72);
    border-right: 3px solid rgb(75, 72, 72);
    
    border-radius: 20px;
}
.display{
    width: 375px;
    height: 100px;
    background-color: #fff;
    /* text-align: right; */
    border: 1px solid black;
    font-size: 55px;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgb(204, 219, 232) 13px 13px 16px 0px inset, rgba(255, 255, 255, 0.5) -13px -13px 6px 10px inset;
    
}
.btn-1{
    grid-column: 2/4;
}

.btn-6{
   grid-row: span 2;
   height: 180px;
   display: flex;
   align-items: center;
   justify-content: center;
}